<!DOCTYPE html>

<html>
<head>
  <title>digital flowers</title>
  <% include styles/default.ejs %>
</head>
<body class="is-loading">
<% include app/default.ejs %>
<% include scripts/default.ejs %>
</body>
</html>
